
body{
  font-family: cursive, sans-serif;
  background-color: #ccc;
  margin: 50px;
}

img{
  width: 70%;
  height: 85%;
  display: block;
  margin: auto;
}
h1,h3{
  text-align: center;
  text-transform: uppercase;
  color:green;
  background-color:wheat;
}
h1,h3,div,article{
  border: 1px solid black;
  margin:20px;
}
article{
  padding: 20px;
  text-align: justify;
  background-color: #DCDCDC;
}
